In [1]:
import pandas as pd

# Load the JSON file into a DataFrame
with open('data.json', 'r') as file:
    data = pd.read_json(file)

In [2]:
# Display the DataFrame
data

      name  age           city
0    Alice   30       New York
1      Bob   25  San Francisco
2  Charlie   35    Los Angeles